<!doctype html>
<html>
	<head>
		<title><%= full_title yield(:title) %></title>
		<%= render "layouts/client/head" %>
	</head>
	<body>
		<div class="wrapper" id="wrapper">
			<%= render "layouts/client/header", drinks: @drinks, foods: @foods, items: @items %>
			<%= render "layouts/client/banner" %>
			<div class="">
				<%= yield %>
			</div>
			<%= render "layouts/client/login_form" %>
			<%= render "layouts/client/cart", items: @items %>
		</div>
	</body>
</html>
