<div class="wrapper" id="wrapper">
  
  <%= render "layouts/client/banner" %>
  <div class="">
    <%= yield %>
    <%= render "layouts/client/footer" %>
  </div>
  <%= render "layouts/login_form" %>
  <%= render "layouts/client/cart" %>
</div>
