<%= form_for(@user, as: :user, url: password_path(:user), html: { method: :post }, remote: true) do |f| %>
  <div class="single-input">
    <h4><%= t "devise.reset_password.title" %></h4>
  </div>
  <div id="reset_errors">
  </div>
  <div class="single-input">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="single-input">
    <%= f.submit "Send me reset password link" %>
  </div>
<% end %>
