<%= form_for(@user, url: signup_path) do |f| %>
  <%= render "shared/error_messages" %>

  <div class="single-input">
    <%= f.text_field :name, class: "cr-round--lg", placeholder: true %>
  </div>

  <div class="single-input">
    <%= f.text_field :email, class: "cr-round--lg", placeholder: true %>
  </div>

  <div class="single-input">
    <%= f.text_field :address, class: "cr-round--lg", placeholder: true %>
  </div>

  <div class="single-input">
    <%= f.text_field :phone, class: "cr-round--lg", placeholder: true %>
  </div>

  <div class="single-input">
    <%= f.password_field :password, class: "cr-round--lg", placeholder: true %>
  </div>

  <div class="single-input">
    <%= f.password_field :password_confirmation, class: "cr-round--lg", placeholder: true %>
  </div>
  <%= f.submit t("helpers.submit.user.create"), class: "btn btn-primary" %>
<% end %>
