<% provide :title, t("carts.shopping_title") %>

  <div class="cart">
    <div class="page-content page-order">
      <div class="page-title">
        <h2><%= t "carts.shopping_title" %></h2>
      </div>
      <div class="order-detail-content">
        <div class="table-responsive">
          <table class="table table-bordered cart_summary">
            <thead>
              <tr>
                <th class="cart_product"><%= t ".product" %></th>
                <th class="action"><%= t ".name" %></th>
                <th class="action"><%= t ".price" %></th>
                <th class="action"><%= t ".quantity" %></th>
                <th class="action"><%= t ".action" %></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td class="cart_product">
                  </td>
                  <td class="cart_description">
                    <p class="product-name">
                      <%= link_to product_path(item.product_id) do %>
                        <%= item.product_id %>
                      <% end %>
                    </p>
                  </td>
                  <td class="price"><span><%= item.price %></span></td>
                  <td class="price"><span><%= item.quantity %></span></td>
                  <td class="action">
                    <%= link_to client_cart_path(item.product_id), method: :delete,
                      data: {confirm: t(".you_sure")} do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="cart_navigation">
          <%= link_to t(".back"), :back %>
          <a class="checkout-btn" href="#">
            <i class="fa fa-check"></i><%= t ".checkout" %></a>
        </div>
      </div>
    </div>
  </div>
