<!doctype html>
<html>
	<head>
		<title><%= full_title yield(:title) %></title>
		<%= render "layouts/admin/head" %>
	</head>
	<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
		<div class="wrapper" style="height: auto; min-height: 100%;">
			<%= render "layouts/admin/header" %>
			<%= render "layouts/admin/aside" %>
			<div class="content-wrapper" style="min-height: 960px;">
				<%= yield %>
			</div>
			<%= render "layouts/admin/footer" %>
		</div>
		<div class="jvectormap-label"></div>
	</body>
</html>
