<% provide :title, t("info_product") %>
<% if logged_in? && current_user.active? %>
  <div class="row add_cart_form">
    <div class="col-md-4">
      <div class="add_form_error">
      </div>
      <%= render "products/add_form"%>
    </div>
  </div>
<% end %>


<h3><%= @product.name %></h3>
<h5><%= t "products.price" %>: <%= @product.price %></h5>
<h5><%= t "generals.category" %>: <%= @product.category.name %></h5>
<h5><%= t "products.quantity" %>: <%= @product.quantity %></h5>
<h5><%= t "products.info" %>: <%= @product.information %></h5>
<div class="">
  <%= image_tag @product.picture.url  %>
</div>
