<div class="sidebar-menu">
  <ul>
    <li class="header-menu">
      <span><%= t "generals.admins" %></span>
    </li>
    <li class="sidebar-dropdown">
      <a href="/admin/categories">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.categories" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="/admin/products">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.products" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.order_list" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.users" %></span>
      </a>
    </li>
  </ul>
</div>
