<div class="sidebar-menu">
  <ul>
    <li class="header-menu">
      <span><%= t "generals.client" %></span>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.categories" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.food" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.drink" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.my_history" %></span>
      </a>
    </li>
  </ul>
</div>
