<div class="sidebar-menu">
  <ul>
    <li class="header-menu">
      <span><%= t "generals.client" %></span>
    </li>
    <li class="sidebar-dropdown">
      <a href="/categories">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.categories" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.food" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.drink" %></span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span><%= t "generals.my_history" %></span>
      </a>
    </li>
      <div class="basket dropdown-toggle">
      <%= link_to client_carts_path do %>
      <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
      <div class="shoppingcart-inner hidden-xs">
          <span class="cart-title"><%= t ".cart" %></span>
        </div>
      <% end %>
    </div>
  </ul>
</div>
